body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 500px;
  margin: 12px auto 24px;
  text-align: center;
}

.running-score {
  border: 2px solid black;
  width: 240px;
  margin: 0 auto;
  padding: 8px;
}

.running-scoreboard {
  text-align: center;
  padding-bottom: 12px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.player-scoreboard,
.computer-scoreboard {
  display: flex;
  width: 100px;
  height: auto;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.player-score,
.computer-score {
  font-size: 24px;
  border: 2px solid black;
  width: 50px;
  height: auto;
  text-align: center;
  margin: 4px;
}

.game-status {
  /* border: 2px solid black; */
  height: 40px;
  width: 400px;
  margin: 0 auto 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-selection {
  margin-bottom: 24px;
}

.player-selection h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 12px;
}

.buttons .selection-button {
  width: 150px;
  height: 150px;
}

.round-result {
  text-align: center;
  margin: 24px;
}

.round-result h2 {
  margin-bottom: 4px;
}

.round-result .history {
  border: 1px solid black;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  margin: 0 auto;
}

div.play-again {
  width: 200px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: center;
}

button.play-again {
  height: 30px;
}