body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7efa7;
}

.header {
  width: 500px;
  margin: 12px auto 38px;
  text-align: center;
  color: #036603;
}

.header h1 {
  font-size: 38px;
}

.running-score {
  border: 2px solid #c0c0c0;
  background-color: #333333;
  color:#ffffff;
  width: 240px;
  margin: 0 auto 12px;
  padding: 8px;
  font-family: 'Orbitron', sans-serif;
}

.running-scoreboard {
  text-align: center;
  padding-bottom: 12px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.player-scoreboard,
.computer-scoreboard {
  display: flex;
  width: 100px;
  height: auto;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.player-score,
.computer-score {
  font-size: 24px;
  border: 2px solid #000000;
  width: 50px;
  height: auto;
  text-align: center;
  margin: 4px;
  background-color: #000000;
  color: #ffff00;
  border-radius: 8px;
}

.game-status {
  /* border: 2px solid black; */
  height: 40px;
  width: 600px;
  font-size: 24px;
  margin: 0 auto 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 6, 6);
}

.player-selection {
  margin-bottom: 24px;
}

.player-selection h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 12px;
}

.buttons .selection-button {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
  background-color: #800080;
  color: #adff2f;
  border: 4px solid #c50606;
  transition: all .07s;
}

.round-result {
  text-align: center;
  margin: 24px;
}

.round-result h2 {
  margin-bottom: 4px;
}

.round-result .history {
  border: 1px solid #000000;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  margin: 0 auto;
  background-color: #ffffff;
}

div.play-again {
  width: 300px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: center;
}

button.play-again {
  border-radius: 12px;
  background-color: blue;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 12px;
}

.selecting {
  transform: scale(1.1);
}